# Backend
FLASK_ENV=development
FLASK_APP=app.main
DATABASE_URL=postgresql+psycopg2://threatsense:threatsense@localhost:5432/threatsense
MODEL_DIR=../ml/models
MODEL_VERSION=v1-notebook-rf-iforest

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:5000
